:root {
  color-scheme: dark;
  scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}
a,a:hover,a:focus,a:active,a:focus:active {
  color: #EE8202;
}
.btn-success {
  background: #EE8202;
  border-color: #EE8202;
  &.disabled:hover, &.disabled {
    background: #444;
    border-color: #444;
  }
  &:hover {
    background: #DE7800;
    border-color: #DE7800;
  }
  &:active, &:focus, &:active:focus {
    background: #D17000;
    border-color: #D17000;
  }
}

.fullw {
  width: 100%;
}

.pos-relative {
  position: relative;
}

body {
  background-color: #222;
}

.macros-header {
  position: fixed;
  background: #2B2B2B;
  right: 40px;
  left: 40px;
  z-index: 1;
  margin-top: -70px;
  padding: 15px;

  h2 {
    margin: 0;
  }

  & + * {
    margin-top: 60px;
  }
}

.input-group {
  /*border: solid 1px #804500;*/
  border-radius: 4px;
  overflow: hidden;
  display: block;

  * {
    border-radius: 0;
  }

  *:first-child {
    border-radius: 4px 0 0 4px;
  }

  *:last-child {
    border-radius: 0 4px 4px 0;
  }
}

input[type="text"], textarea, select.form-control {
  background-color: rgba(255,255,255, 0.04);
  color: #eee;

  &::placeholder {
    color: #888 !important;
    opacity: 1; /* Firefox */
  }
}

select option {
  background: #1A1A1A;
}

.btn-danger-hollow {
  background: transparent;
  border-width: 1px;
  border-color: #8B2A1E;
  //box-shadow: inset 0 0 2px #e74c3c;
  color: #c64032; // From bootstrap
}

.btn-settings {
  background: rgba(255,255,255, 0.1);
  //background: #EE8202;
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 4px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  transform: translate(0, 1px);
}
.macro-name:hover .btn-settings {
  /*background: #FC7E28;*/
  background: rgba(255,255,255, 0.3);
}
