a,a:hover,a:focus,a:active,a:focus:active {
  color: #EE8202;
}
.btn-success {
  background: #EE8202;
  border-color: #EE8202;
}
.btn-success:hover {
  background: #DE7800;
  border-color: #DE7800;
}
.btn-success:active, .btn-success:focus, .btn-success:active:focus {
  background: #D17000;
  border-color: #D17000;
}